.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.login-links {
  display: flex;
  justify-content: space-between;
}

.checked {
  color: orange;
}

#review-img {
  display: block;
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}

.button {
  margin: 8px;
}

form label {
  font-weight: bold;
}

.add-space {
  margin: 5px 0px;
}
